[submodule "External/ShortcutRecorder"]
	path = External/ShortcutRecorder
	url = git@github.com:amscad/ShortcutRecorder.git
[submodule "External/SubRip-for-Mac"]
	path = External/SubRip-for-Mac
	url = git@github.com:amscad/SubRip-for-Mac.git
